.ytattach-plugin-sidebar {

    .loading-text {
        width: 100%;
        height: 40px;
        text-align: center;
    }

    .current-video {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        .dashicon {
            margin-right: 5px;
        }

        .controls {
            button {
                margin: 5px 0px;
                width: 100%;
            }
        }
    }

    .results {
        li {
            cursor: pointer;
        }
    }



}